
<!-- Header Starts here -->
<div class="header-container">
    <!-- Header Part 01 Starts here -->
    <div id="headerRow1">
        <div class="row show-grid">
            <div class="submenu-left">
                <img class="logo" src="assets/images/iFitLogo.png" alt="iFit" >
            </div>
            <div class="submenu-right">
                <a id="login" href="#">LOGIN</a>
                <a href="#">SIGN UP</a>
                <a href="#">MENU <i class="fa fa-bars" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>

    <!-- Header Part 02 Starts here -->
    <div id="headerRow2">
        <div class="row show-grid">
            <div class="submenu-left" >
                <p>Weight Loss</p>
            </div>
            <div class=" submenu-right" >
                <a href="#">OVERVIEW</a>
                <a href="#">FEATURES</a>
                <a href="#">PROGRAMS</a>
                <a href="#">TRAINING</a>
                <a href="#"><input class="search" type="search" value=""></a>
            </div>
        </div>
    </div>
</div>