@import url("../font.css");
@import "_vars";
html,body
{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: "Proxima Nova";
}


#headerRow1{
  width: 100%;
  position: relative;
  top: 0px;
  height: 60px;
  z-index: 1;
  background-color: @black;
  font-size: 1.1rem;
  opacity: .8;

  .logo{
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 35px;
  }

  a{
    padding: 0 10px;
    color: @white;

  }

  .submenu-right {
    margin-top: 25px;
    float: right;
    padding-right: 5%;
  }
}

#headerRow2{
  background-color: @red;
  color: @black;
  width: 100%;
  position: relative;
  top: 0px;
  height: 40px;
  z-index: 1;
  font-size: 1.1rem;
  opacity: .8;
  border-bottom: 1px solid @light-gray;

  .submenu-left{
    display: inline-block;
    padding: 11px 35px;

    p {
      margin: 0 0 10px;
      position: absolute;
      font-size: 1.4rem;
      padding-left: 15px;
      font-weight: 600;
    }
  }

  .submenu-right {
    float: right;
    display: inline-block;
    padding: 11px 4%;

    a{
      padding: 0 10px;
      color: @dark-gray;
      cursor: pointer;

    }

    a:hover{
      color: @black;
    }
  }
}

#logo{
  padding-left: 8%;
  .contentRecommendationWidget > .left_espot > a > img{
    width: 170px;
    height: 76px;
  }
}



/*Container Styles goes here*/

#container {
  width: 100%;
  height: auto;
  margin: 0 15%;
  position: relative;

  img{
    border: 0;
  }
}



#heroImgContainer{
  width: 100%;
  margin-top: -112px;
}
#heroImgContainer .show-grid, #container .show-grid{
  margin-bottom: 15px;

}

#heroImgContainer{
  .show-grid{
    .hero-grid-banner-text{
      position: absolute;
      top: 51%;
      left: 14%;
      opacity: 0.6;
      h1{
        line-height: 30px;
        font-weight: 200;
      }
      span{
        font-size: 16px;
        text-transform: uppercase;
        color: @white;
      }
      .uppertext{
        font-size: 46px;
        line-height: 40px;
        font-weight: 300;
      }
    }
    .hero-grid-banner-text:hover{
      opacity: 1;
    }
    p{
      color: @white;
      line-height: 15px;
      font-size: 13px;
      padding-top: 3%
    }
  }
}



.hero-area-parallax {
  height: 770px;
  background-image: url("../assets/images/herobannerimage.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 100% auto;
  position: relative;
}

.imgClass{
  border: none;
  width: 100%;
}
.large-btn.blue{
  background-color: @blue;
  border: 1px solid @blue;
  color: @white;
  padding: 10px 35px;
  font-weight: 600;
}
.viewMoreArea{
  margin-top: 25px;
}

.quoteArea {
  margin-top: 50px;
  background-color: @black;
  color: @white;
  width: 100%;
  height: 200px;

  blockquote {
    padding-top: 35px;
    float: left;
    padding-left: 20%;
    width: 80%;
  }

  img {
    float: left;
    font-size: 16px;
    padding-left: 3%;
  }

  p {
    font-size: 1vw;
  }

  footer {
    cite {
      color: @blue;
      font-weight: bold;
      font-size: 16px;
    }
    cite:before{
      content: '\00A0 \2014';
      color: @blue;
    }
  }
  footer:after{
    content: '';
  }
}


.blockquote-reverse{
  border: none;
}

.joinMsg{
  margin-top: 50px;
  height: 50px;
  p{
    span{
      font-size: 22px;
    }
  }
}


.joinifit{
  margin-left: 15px;
  &>span{
    font-size: 28px;
  }
}


#footer{
  width: 100%;
  height: 50px;
  background-color: @black;
  font-size: 1.1rem;
  margin-top: 25px;

  a{
    cursor: pointer;
    color: @dr-gray;
    padding: 0 5px;
    font-size: 8px;
  }
  .row{
    padding-top: 19px;
  }
  .submenu-left{
    float: left;
    padding-left: 30px;
    a{
      i{
        padding-left: 10px;
      }
    }
  }
  .submenu-right{
    float: right;
    padding-right: 30px;
  }

}

i.fa-search {
  -webkit-transform:rotateY(180deg);
  -moz-transform:rotateY(180deg);
  -o-transform:rotateY(180deg);
  -ms-transform:rotateY(180deg);
}
.search {
  width: 25px;
  -webkit-transition: all .8s ease;
  -moz-transition: all .8s ease;
  transition: all .8s ease;
  background: url("../assets/images/searchicon.png") no-repeat;
  border: none;
  cursor: pointer;
  &:focus {
    width: 150px;
    background-color: @white;
    right:100px;
    background: none;
    border: 1px solid @gray-matterhorn;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    transition: all .8s ease;
  }
}

.hero-grid__text-container{
  width:50%;
  text-align: center;
  margin: 0 9%;
  color: @vr-dark-gray;
  font-weight: 400;
}

.grid-img{
  padding: 0;
  img {
    -webkit-transform: scale(1);
    transform: scale(0.9);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  &:hover{
    img {
      -webkit-transform: scale(1);
      transform: scale(1.05);
    }
  }
  p{
    font-size: 12px;
    font-weight: 600;
    line-height: 12px;
    padding-left: 6%;
    padding-top: 5px;
    span{
      font-size: 10px;
      color: @dark-red;
      font-weight: 600;
      font-style: italic;
    }
  }
}


.pageControl{
  z-index: 1;
  &.dot{
    text-align: center;
  }
  a{
    border: 1px solid @blue;
    width: 5px;
    height: 6px;
    margin: 0 2px;
    padding: 0 2px;
    border-radius: 12px;
    display: inline-block;

  }
  &:focus{
    background-color: @blue;
  }
}

